* {
    box-sizing: border-box;
  }
  
h5 {
    background-color: rgb(160, 156, 156);

} 

p{
    background-color: rgb(160, 156, 156);
    overflow: hidden;
    height: 700px;
    font-weight: 500;
} 
